/*Styles the container element for the app*/
.App {
  text-align: center;
  font-family: 'Georgia', serif;
  background-color: #E8F0EB;
  
}

.centered-content p {
  font-size: 1.25rem; /* Smaller font for subtext */
  color: #555; /* Subdued text color */
  margin-top: 10px;
}

/*Styles the footer section of the app*/
.App-footer{
  background-color: #719E89;
  color: white;
  padding: 20px;
  position: relative;
  width: 100%;
  text-align: center;
}





